button{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    border: none;
    background-color: black;
    color: white;
    font-size: 3rem;
    font-weight: bold;
    cursor: pointer;

}
#keys{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 5px;
    padding: 25px;
}
#calculator{
    font-family: Arial, Helvetica, sans-serif;
    background-color: gray;
    border-radius: 15px;
    max-width: 500px;
    overflow: hidden;

}
#display{
    width:100%;
    padding: 20px;
    font-size: 50px;
    text-align: left;
    border: none;
    background-color: darkgrey;
    color: white;
}
body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}
button:hover{
    background-color: grey;

}
button:active{
    background-color: darkgray;

}
.operator-btn{
    background-color: orange;

}
